<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>some error occured</h1>
<p>we are working on it sorry for trouble :(</p>
<%- include('includes/end.ejs') %>